.nexus.sheet.actor.player{
    .sheet-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .sheet-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .sheet-left{
            .sheet-attributes-box{
                .sheet-attributes-stats{
                    table {
                        tr {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            td {
                                display: flex;
                                flex-direction: row;
                                input {
                                    flex: 0 0 15px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        .sheet-right{
            .sheet-other{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
    }
}