.nexus.sheet.actor.player{
    .sheet-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .sheet-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .sheet-left{
            .sheet-attributes-box{
                .sheet-attributes-stats{
                    table {
                        tr {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            td {
                                display: flex;
                                flex-direction: row;
                                input {
                                    flex: 0 0 15px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            .sheet-skills-box{
                .sheet-skills-stats{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .sheet-skills-stats-general{
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        text-align: center;
                        .skill{
                            display: flex;
                            flex-direction: row;
                            .value{
                                width: 15px;
                            }
                        }
                    }
                    .sheet-skills-stats-specific{
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        text-align: center;
                        .skill{
                            display: flex;
                            flex-direction: row;
                            .value{
                                width: 15px;
                            }
                        }
                    }
                }
            }
            .sheet-advantages{
                .sheet-advantages-lists{
                    display: flex;
                    flex-direction: column;
                    section {
                        display: flex;
                        flex-direction: row;

                    }
                }
            }
            .sheet-implants{
                .sheet-implants-lists{
                    display: flex;
                    flex-direction: column;
                    section {
                        display: flex;
                        flex-direction: row;
                        
                    }
                }
            }
        
        }
        .sheet-right{
            .sheet-main{
                .sheet-header-box{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .generic-name{ flex: 0 1 75px;}
                    .actor-name{width: 50%;}
                }
                .sheet-main-box{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .sheet-rank-box{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        width: 25%;
                        .generic-rank{width: 75px;}
                        .actor-rank{max-width: 30px;}
                    }
                    .sheet-humanity-box{
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        text-align: center;
                        div{
                            display: flex;
                            flex-direction: row;
                            input{max-width: 30px;}
                        }
                    }
                    .sheet-image-health-box{
                        display: flex;
                        flex-direction: column;
                        width: 25%;
                        text-align: center;
                        .health-box{
                            display: flex;
                            flex-direction: row;
                            text-align: center;
                            .generic-health{max-width: 75px;}
                            input{max-width: 30px;}
                            .max-health{width: 75px;}
                        }
                    }
                }
            }
            .sheet-weapons{
                .sheet-weapons-lists{
                    section{
                        display: flex;
                        flex-direction: column;
                        .first-row{
                            width: 100%;
                            display: flex;
                            flex-direction:row;
                            .generic-name{ flex: 0 1 75px;}
                            .weapon-name{ flex: 4 1;}
                            .generic-ammo{ flex: 0 1 75px;}
                            .weapon-ammo{ flex: 1 1 30px; max-width: 30px;}
                            .separator{ flex: 0 1;}
                            .max-ammo{ flex: 1 1 30px;}
                        }
                        .second-row{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            .generic-range{ flex: 0 1 75px;}
                            .weapon-range{ flex: 1 1 30px;}
                            .generic-rate{ flex: 0 1 75px;}
                            .weapon-rate{ flex: 1 1 30px;}
                            .generic-potency{ flex: 0 1 75px;}
                            .weapon-potency{ flex: 1 1 30px;}
                            .generic-damage{ flex: 0 1 75px;}
                            .weapon-damage{ flex: 1 1 30px;}
                        }
                    }
                }
            }
            .sheet-other{
                display: flex;
                flex-direction: row;
                width: 100%;
                .sheet-armor{
                    width: 50%;
                    .sheet-armor-lists{
                        width: 100%;
                        section{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            .first-row{
                                display: flex;
                                flex-direction: row;
                                width: 100%;
                                .generic-name{ flex: 0 1 75px;}
                                .armor-name{ width: 100%;}
                            }
                            .second-row{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                width: 100%;
                                .armor{
                                    display: flex;
                                    flex-direction: row;
                                }
                                .regen{
                                    display: flex;
                                    flex-direction: row;
                                }
                            }
                        }
                    }
                }
                .sheet-inventory{
                    width: 50%;
                }
            }
        }
    }
}