.nexus.sheet.item form {
  display: flex;
  flex-direction: column;
}
.nexus.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.nexus.sheet.item .sheet-content .editor {
  height: 100%;
}
.nexus.sheet.actor.player .sheet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.nexus.sheet.actor.player .sheet-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-attributes-box .sheet-attributes-stats table tr {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-attributes-box .sheet-attributes-stats table tr td {
  display: flex;
  flex-direction: row;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-attributes-box .sheet-attributes-stats table tr td input {
  flex: 0 0 15px;
  text-align: center;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats {
  display: grid;
  grid-template-areas: '. . . value1 name1 name1 name1' 'name2 name2 value2 . value3 name3 name3' 'name4 value4 . . . value5 name5' 'name6 name6 value6 . value7 name7 name7';
  grid-gap: 10px;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .coverfire-value {
  grid-area: value1;
  width: 15px;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .coverfire-name {
  grid-area: name1;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .brawling-value {
  grid-area: value2;
  width: 15px;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .brawling-name {
  grid-area: name2;
  justify-self: right;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .hacking-value {
  grid-area: value3;
  width: 15px;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .hacking-name {
  grid-area: name3;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .xenotech-value {
  grid-area: value4;
  width: 15px;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .xenotech-name {
  grid-area: name4;
  justify-self: right;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .camouflage-value {
  grid-area: value5;
  width: 15px;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .camouflage-name {
  grid-area: name5;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .sapper-value {
  grid-area: value6;
  width: 15px;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .sapper-name {
  grid-area: name6;
  justify-self: right;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .medicine-value {
  grid-area: value7;
  width: 15px;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .medicine-name {
  grid-area: name7;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .cybernetics-value {
  grid-area: value5;
  width: 15px;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .cybernetics-name {
  grid-area: name5;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .geology-value {
  grid-area: value6;
  width: 15px;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .geology-name {
  grid-area: name6;
  justify-self: right;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .mechanics-value {
  grid-area: value7;
  width: 15px;
}
.nexus.sheet.actor.player .sheet-content .sheet-left .sheet-skills-box .sheet-skills-stats .mechanics-name {
  grid-area: name7;
}
.nexus.sheet.actor.player .sheet-content .sheet-right .sheet-other {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
