<section>
    <div class="advantage-info advantage-name">
        <p>{{name}}</p>
    </div>
    <div class="advantage-info advantage-description">
        {{system.description}}
    </div>
</section>