<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">

    </header>

    <div class="sheet-content">

        <div class="sheet-stats">
            
            <div class="sheet-attributes">

            </div>

            <div class="sheet-skills">

            </div>

            <div class="sheet-advantages">

            </div>

            <div class="sheet-implants">

            </div>

            <div class="sheet-conviction">

            </div>

        </div>

        <div class="sheet-inventory">

            <div class="sheet-humanity">

            </div>

            <div class="sheet-weapons">

            </div>

            <div class="sheet-other">

                <div class="sheet-armor">

                </div>

                <div class="sheet-equip">

                </div>

            </div>

        </div>

    </div>
</form>